.address-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.address-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.close-icon {
  color: gray;
}

.close-icon:hover {
  color: black;
}
